<footer class="bg-zinc-900 text-gray-300">
<div class="container grid grid-cols-4 gap-10 py-16">
    <div class="">
    <p class="text-2xl font-semibold">About us</p>
    <p><b class="font-semibold">What's My AI</b> is your go-to resource for discovering and accessing the best AI tools available online. We curate a comprehensive list of AI-powered applications, from text generators and image creators to data analysis tools and more. Explore, compare, and find the perfect AI solution for your needs – all for free.</p>
    </div>
    <div class="">
    <p>About us</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore possimus perferendis at saepe quia quod, reprehenderit repudiandae vitae ipsum debitis, autem distinctio sunt quos commodi.</p>
    </div>
    <div class="">
    <p>About us</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore possimus perferendis at saepe quia quod, reprehenderit repudiandae vitae ipsum debitis, autem distinctio sunt quos commodi.</p>
    </div>
    <div class="">
    <form action="">
        <input type="text" class="">
    </form>
    </div>
</div>

<hr class="container border-[.5] border-zinc-800">
<div class="bg-zinc-900 py-6">
    
<div class="flex justify-between container text-zinc-600">
    <p>What's my AI | All Rights Reserved 2025</p>
    <div class="flex gap-4 text-sm">
        <a href="/">Conditions of Use</a>
        <a href="/">Policy</a>
        <a href="/">Legal Informations</a>
    </div>
</div>
</div>
</footer>