<header class="py-6 bg-gray-100 text-zinc-800 shadow-zinc-200 shadow-md ">
  <div class="container flex justify-between items-center">
      <a href="/"class="text-2xl font-semibold">What's My AI</a>

    <nav>
      <ul class="flex gap-10 ">
        <li><a href="">Categories</a></li>
        <li><a href="">New AI Tools</a></li>
        
      </ul>
    </nav>
  </div>
</header>