---
layout: base.njk
title: GPT's Collection
---

<section class="py-16">
    <div class="container mx-auto mt-8">
        <ul class="grid grid-cols-5 gap-6">
            {% for gpt in collections.gpt %}
            
            <a href="{{gpt.url}}">
                <li class="border border-gray-700 hover:shadow hover:shadow-gray-700 hover:shadow-lg hover:-mt-2 hover:transition hover:duration-700 hover:ease-in-out p-4 rounded-3xl">
                    <img src="{{gpt.data.image}}" alt="" class="w-18">
                    <p class="text-xl font-medium mt-4 text-amber-300">{{gpt.data.title}}</p>
                    <p class="line-clamp-3 mt-4 text-gray-500">{{gpt.data.description}}</p>
                </li>
            </a>
            
            {% endfor %}
        </ul>
    </div>
</section>
