@font-face { font-family: 'aileron'; src: url('/assets/fonts/aileron.woff') format('truetype'); font-weight: normal; font-style: normal; }


@import "tailwindcss";

body{
    font-family: 'aileron', serif;
}